.wrapper {
    padding-top: 50px;
    background: rgb(103, 99, 99);
    height: 130%;
    display: flex;
    flex-flow: row wrap;
    /* padding: 20px; */
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
  